<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>在庫管理アプリ</title>
</head>

<body>

    <h1>在庫管理アプリ</h1>

    <form method="POST">

        <h2>商品を選択</h2>
        <select name="item">
            {% for item in items %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>

        <h2>数量</h2>
        <input type="number" name="quantity" value="1" min="1">

        <br><br>

        <button type="submit">追加</button>

    </form>

    <hr>

    <h2>在庫一覧</h2>
    <ul>

        {% for item, count in stock_dict %}
        <li>{{ item }}：{{ count }}</li>
        {% endfor %}

    </ul>

</body>

</html>